<!DOCTYPE html>
<html>
 #set($spathcontext=${request.getContextPath()}) 
<head>
    #parse("header.vm")
</head>
<body>
<div class="modal-shiftfix">
#parse("navigation.vm")
<div class="container-fluid main-content">
<div class="row">
<td><input type="hidden" name="page" id="page" value="$!{page}"></td>
					<td><input type="hidden" name="count" id="count" value="$!{count}"></td>
					<td><input type="hidden" name="total" id="total" value="$!{total}"></td>
                <div class="col-md-12">
                    <!-- Advanced Tables -->
                    <div class="panel panel-default">
                        <!--<div class="panel-heading"> Advanced Tables </div>-->
                        <div class="panel-body">
                            <div class="table-responsive">
								<table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <tbody>
                                <tr>
                                    <form name="myform" id="myform" action="/v2/admin/getfeedbacks" method="post"
                                          enctype="multipart/form-data">
                                        <th><font color="#31ACE2">查询:</font>&nbsp;
                                            <input type="text" name="phone" id="phone" value="" placeholder="用户手机号">
							                <input type="text" name="content" id="content" value="" placeholder="内容关键词">
                                            <input class="btn btn-lg btn-primary" type="submit" value="查询">&nbsp;
                                    </form>                                  
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>编号</th>
											<th>用户</th> 
											<th>反馈内容</th>
											<th>时间</th>
											<th>状态</th>
											<th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    #foreach($one in $list)
                                    <tr class="odd gradeX">
									<td>$!one.id</td>
                                    <td>$!one.phone</td>
									<td>$!one.content</td>
									<td>$!date.format('yyyy-MM-dd HH:mm',$!one.createTime)</td>
									<td>#if($one.state==0) <font color="red">未处理</font> #else 已处理 #end</td>
										<td>
										#if($one.state==0)
										<a href="/v2/admin/handlefeedback?id=$!{one.id}" onclick="return confirmFunc();"><font color="#31ACE2">处理</font></a>
										#else  #end
										</td>
									</tr>
        		    				#end                                                                               
                                    </tbody>
                                </table>
                            </div>
                            <div id="kkpager"></div>
                        </div><!-- panel-body end -->
                    </div>
                    <!--End Advanced Tables -->
                </div>
            </div>
</div><!-- row end -->		
</div><!-- main-content end -->
<script type="text/javascript">
	var cpage = document.getElementById("page").value;
	var count = document.getElementById("count").value;
	var total = document.getElementById("total").value;
	var url=window.location.href;  
	var addr = url.substring(0,url.indexOf('v2'));
//生成分页控件  
kkpager.generPageHtml({
    pno : cpage,
    mode : 'link', //可选，默认就是link
    //总页码  
    total : total,  
    //总数据条数  
    totalRecords : count,  
    //链接算法
    getLink : function(n){
        //这里是默认算法，算法适用于比如：

        if(n == 1){
            return addr+'v2/admin/getfeedbacks?page='+n;
        }
        return addr+'v2/admin/getfeedbacks?page='+n;
    }

});
</script>	
#include("foot.vm")