<!-- Navigation -->
      <div class="navbar navbar-fixed-top scroll-hide">
        <div class="container-fluid main-nav clearfix">
          <div class="nav-collapse">
            <ul class="nav">
              <li><a #if($!{navNum}==1) class="current" #else   #end href="/v2/admin/getusers">
				<span aria-hidden="true" class="bblq-charts"></span>用户</a>
              </li>
			  <li><a #if($!{navNum}==2) class="current" #else   #end href="/v2/admin/getcpdatas">
                <span aria-hidden="true" class="bblq-feed"></span>检测点</a>
              </li>
			  <li><a #if($!{navNum}==3) class="current" #else   #end href="/v2/admin/getfeedbacks">
                <span aria-hidden="true" class="bblq-pages"></span>反馈</a>
              </li>
              <li><a #if($!{navNum}==4) class="current" #else   #end href="/v2/admin/getpushs">
                    <span aria-hidden="true" class="bblq-envelope"></span>推送</a>
              </li>
			  <li><a #if($!{navNum}==5) class="current" #else   #end href="/v2/admin/getfrequestions">
                    <span aria-hidden="true" class="bblq-forms"></span>常见问题</a>
              </li>
			  <li class="pull-right"><a href="/v2/admin/logout" >
					<img width="10" height="10" src="http://7xiqfo.com1.z0.glb.clouddn.com/cms_logout.png" /></a>
			  </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End Navigation -->
